@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Student
            </div>
            <div class="card-body">
                @*<div class="row">
                    <div class="col-md-3 text-center">
                        <a href="@Url.Action("Create", "StudentTables")">
                            <i class="fas fa-user-graduate fa-2x></i>
                            <p>Add New Student</p>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="@Url.Action("Create", "StudentPromoteTables")">
                            <i class="fas fa-user-graduate fa-2x></i>
                            <p>Student Promote</p>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
